@import 'reset-styles.css';

body {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  line-height: 1.43;
}

img {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  padding-right: 6.25rem;
  padding-top: 6.25rem;
  text-transform: uppercase;
}
p {
  margin: 0.625rem 0;
  padding: 0.3125rem;
}

.topnav {
  overflow: hidden;
  left: 0;
  top: 0;
  /* background-color: #8b249a; */
  background-color: #752284;
  position: fixed;
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
}

.topnav-links {
  display: flex;
  justify-content: space-evenly;
}
.topnav-links a {
  color: #ffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 50;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  background-color: #545454;
  /* color: white; */
  text-align: center;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links a {
  color: white;
}

.footer > p {
  padding-right: 6.25rem;
}
